#!/usr/bin/env bash

{{ if ne .secretsRepo "" }}
# Do not try to get `secrets` submodule if on remote machine
if [ -z "$SSH_CONNECTION" ] && [ -z "$SSH_CLIENT" ] && [ -z "$SSH_TTY" ]; then
    cat <<'EOF' >$HOME/.local/share/chezmoi/.gitmodules
[submodule "secrets"]
    path = secrets
    url = {{ .secretsRepo }}
    ignore = all
EOF
fi

# Install chezmoi, so if we fail the full install for some reason we can still run chezmoi commands
cd $HOME
sh -c "$(curl -fsLS get.chezmoi.io/lb)"
cd -

# ---- Import GPG signing key from secrets repo (if present) ----
GPG_BIN="$(command -v gpg || true)"

KEY_FILE="$HOME/.local/share/chezmoi/secrets/.ssh/signingkey-private.asc"

if [ -n "$GPG_BIN" ]; then
    mkdir -p "$HOME/.gnupg"
    chmod 700 "$HOME/.gnupg" || true
    "$GPG_BIN" --batch --import "$KEY_FILE"
fi
{{ end }}
