.DS_Store
.gp.md
commit_message.txt
.gitmodules
.aider*
!.aiderignore
vaults
specs

# bv (beads viewer) local config and caches
.bv/
.perles
.ralph-tui
.gemini
# .beads
.claude
.codex
firebase-debug.log

# # Dolt database files (added by bd init)
.dolt/
*.db

.beads/dolt*
.beads/dolt-monitor.pid.lock
.beads/push-state.json
.beads/metadata.json
.beads/export-state.json
.beads/locks
.perles
.beads-credential-key
.runtime/

# Gas Town (added by gt)
# .claude/
.logs/
state.json

